




#from h2{
    margin-bottom: 1rem;
    font-size: 2.3rem;
}
#from{
    width: 40rem;
    margin: 1rem 20rem;
    text-align: center;
    
}
#input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
#input-box input{
    width: 49%;
    padding: 1rem ;
    font-size: 1rem;
    color: #fff;
    background-color: #323946;
    border-radius: .5rem;
    margin: .3rem 0;
    
}
textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #323946;
    border-radius: .8rem;
    margin: .3rem 0;
    resize: none;
}
#btn{
    margin-top: 9px;
    
    display:inline-block;
    padding: 0.7rem 1.5rem;
    background: #0ef;
    border-radius: 4rem;
    box-shadow: 0 0 0.7rem #0ef;
    font-size: 0.8rem;
    color: #323946;
    letter-spacing:  .1rem;
    font-weight: 600;
    transition:  0.5s ease;
    border-color:#0ef;

}
#btn:hover{
  box-shadow: none;
  border-color:#0ef;
  cursor: pointer;
}
